{% extends "layout.html" %}
{% block title %}首页{% endblock %}
{% block body %}





    <!-- Services Section Start -->
    <section id="services" class="section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">显存占用监控</h2>
                <span>监控</span>

            </div>


            <div class="row">
                {% for server in servers %}

                    <div class="col-lg-6 col-md-12">
                        <div class="item-boxes services-item wow fadeInDown" data-wow-delay="{{ 0.2*loop.index }}s">
                            <div id="chart{{ loop.index }}" style="width: 100%;height:100%;min-height: 400px"></div>
                            <script type="text/javascript">
                                var myChart{{ loop.index }} = echarts.init(document.getElementById('chart{{ loop.index }}'));
                                myChart{{ loop.index }}.showLoading();
                                $.get('{{ url_for("gmd") }}?ip=' + "{{ server[0] }}").done(function (data) {
                                    myChart{{ loop.index }}.hideLoading();
                                    myChart{{ loop.index }}.setOption(
                                        option = {
                                            title: {
                                                text: "{{ server[0] }}"
                                            },
                                            tooltip: {
                                                trigger: 'axis',
                                                axisPointer: {
                                                    type: 'cross',
                                                    label: {
                                                        backgroundColor: '#6a7985'
                                                    }
                                                }
                                            },
                                            legend: {
                                                data: data.lgd

                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            xAxis: [
                                                {
                                                    type: 'category',
                                                    boundaryGap: false,
                                                    data: data.xl
                                                }
                                            ],
                                            yAxis: [
                                                {
                                                    type: 'value'
                                                }
                                            ],
                                            series: [
                                                {% for nofgpu in range(servers[loop.index0][1]) %}
                                                    {
                                                        name: 'GPU{{ nofgpu }}',
                                                        type: 'line',
                                                        stack: '总量',
                                                        areaStyle: {},
                                                        data: data.y{{ nofgpu }}y1
                                                    },
                                                    {
                                                        name: 'GPU{{ nofgpu }}T',
                                                        type: 'line',
                                                        stack: '总量',
                                                        areaStyle: {},
                                                        data: data.y{{ nofgpu }}y2
                                                    },
                                                {% endfor %}
                                            ]
                                        }
                                    );
                                });
                                $(window).on('resize', function () {
                                    if (myChart{{ loop.index }} != null && myChart{{ loop.index }} != undefined) {
                                        myChart{{ loop.index }}.resize();
                                    }
                                });
                            </script>


                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
        </div>
    </section>
    <!-- Services Section End -->

{% endblock %}