{% extends "layout.html" %}
{% block title %}创建成功{% endblock %}
{% block body %}
    <section id="services" class="section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">创建成功</h2>
                <span>成功</span>
                <div class="row justify-content-center">
                    <p class="section-subtitle">您的环境创建成功！共计耗时{{ time }}秒！</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}